#contenedor_principal{
    -fx-background-color: #b5e3cc;
}

.titulo{
    -fx-font-family: "Bodoni MT Black";
    -fx-font-size: 35;
    -fx-text-fill: #0d8a52;
}

.btn{
    -fx-background-color: #0d8a52;
    -fx-text-fill: white;
    -fx-padding: 5 20 5 20;
}

.btn:hover{
    -fx-background-color: #0b7143;
    -fx-cursor: hand;
}