

div{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

button{
  border-radius: 8px;
  border: 1px solid #c8c8c8;
  background-color: #f6f6f6;
  padding: 10px;
  width: 160px;
  cursor: pointer;
}

button:hover{
  background-color: #c8c8c8;
}
