*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.flex{
    display: flex;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.v-center{
    align-items: center;
}

.h-center{
    justify-content: center;
}

.all-center{
    align-items: center;
    justify-content: center;
}

