p{
  margin: 0;
}

.div-usuario{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1rem;
}


input{
  border-radius: 8px;
  border: 1px solid #c8c8c8;
  background-color: #f6f6f6;
  padding: 10px;
  width: 220px;
  font-size: large;
  text-align: left;
  outline: none;
}

button{
  border-radius: 8px;
  border: 1px solid #c8c8c8;
  background-color: #f6f6f6;
  padding: 10px;
  width: 160px;
  cursor: pointer;
}

button:hover{
  background-color: #c8c8c8;
}
