body{
    background-color: whitesmoke;
}

body>*{
    max-width: 1440px;
    width: 100%;
}

header{
    background-color: whitesmoke;
    justify-content: space-between;
    padding: 0.75rem 1rem 0.75rem 1rem;
}

.logo>img{
    width: 60px;
    mix-blend-mode: multiply;
}

.nombre-marca>h1{
    font-size: 40px;
    color: black;
    font-weight: bold;
    font-family: Roboto;
}

.header-botones{
    gap: 1rem;
    height: 40px;
}

.header-botones>button{
    padding: 0.25rem;
    height: 100%;
    font-size: large;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid lightgray;
}

.header-botones>button:hover{
    background-color: rgb(228, 228, 228);
}

.header-botones>button:first-child{
    background-color: #00774f;
    color: white;
    font-weight: 600;
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
}

#img-carrito{
    width: 30px;
}

main{
    padding: 2rem;
    gap: 3rem;
    background-color: #e7cbae;
    align-items: flex-start;
}

#contenedor-filtros{
    margin-left: 1rem;
    width: 20%;
    gap: 2rem;
}

#buscar-articulo{
    font-size: xx-large;
}

#contenedor-filtros>div{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.div-filtros{
    flex-wrap: wrap;
    gap: 1rem;
}

#contenedor-articulos{
    width: 80%;
    gap: 2rem;
    padding: 2rem 0 0 0;
}

#contenedor-articulos>div{
    gap: 3rem;
}

.card{
    justify-content: space-between;
    flex: 1;
    height: auto;
    gap: 1rem;
    background-color: whitesmoke;
    box-shadow: 0 2px 2px 3px #a2866a53;
}

.card:hover{
    cursor: pointer;
}

.card>div{
    width: 100%;
}

.img-card{
    width: 100%;
    height: auto;
}

.div-descripcion-card{
    gap: 1rem;
}

.precio-card{
    font-size: 20px;
    font-weight: bold;
    font-family: Baskerville !important;
}

.precio-und-talla-card{
    justify-content: space-around;
}

.btn-anadir-card{
    width: 100%;
    background-color: #00774f;
    color: white;
    border: none;
    border-radius: 0;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    cursor: pointer;
}

select{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 0.5rem 1rem 0.5rem 1rem;
    font-size: medium;
}

footer{
    justify-content: space-around;
    background-color: whitesmoke;
    gap: 1rem;
}

footer>*{
    flex: 1;
}

#contacta{
    color: #00774f;
    font-size: xx-large;
}

.footer-info{
    gap: 1rem;
}

.footer-info>div{
    gap: 1rem;
}